<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <%= link_to "Não recebeu instruções de confirmação de conta?", new_confirmation_path(resource_name), class: 'btn btn-default btn-block' %>
      <% end %>
      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
        <%= link_to "Não recebeu instruções de desbloqueio de conta?", new_unlock_path(resource_name), class: 'btn btn-default btn-block' %>
      <% end %>
    </div>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    <% end -%>
  </div>
</div>
